{% extends 'base.html' %} {% block 'title' %} Produtos {% endblock 'title' %} 
{%block 'content' %}
<a
  href="{% url 'produtos:novo_produto' %}"
  class="button is-primary"
  >Novo Produto</a
>

<table
  id="table_id"
  class="table is-striped is-fullwidth"
>
  <thead>
    <tr>
      <th>Produto</th>
      <th>Preço</th>
      <th>Ação</th>
    </tr>
  </thead>
  <tbody>
    {% for produto in produtos %}
    <tr>
      <td>{{ produto.nome }}</td>
      <td>{{ produto.preco }}</td>
      <td>
        <a
          href="{% url 'produtos:deleta_produto' produto.id %}"
          class="button is-danger is-small"
          >Deletar</a
        >
        <a
          href="{% url 'produtos:alterar_produto' produto.id %}"
          class="button is-info is-small"
          >Alterar</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a
  href="{% url 'produtos:index' %}"
  class="button is-link"
  >Voltar</a
>
{% endblock 'content' %}

<!-- Javascripts -->
{% block js %}
<script>
  $(document).ready(function () {
    $("#table_id").DataTable({
      // Configurações do DataTable, se necessário
    });
  });
</script>
{% endblock js %}
